<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="css/all.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.4.1.js"
	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<style>
		#down{
			background: black;
			text-align: center;
			color: white;
			margin-top: 30px;
			border-radius: 20px;
		}
		hr{
			border-color: #A67500;
			border-width: 7px;
		    border-radius: 3px;
		}
	</style>

</head>
<body style="background-color: black;">

	<nav class="navbar navbar-inverse" style="margin-bottom: 0px; border-radius: 20px">
		<div class="container-fluid">
			<div class="navbar-header">
				<i class="fas fa-apple-alt" style="font-size: 40px;color: white; margin: 2px;"></i>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li><a href="Галерея.html">Галерея</a></li>
					<li><a href="#">Товары</a></li>
					<li><a href="myblog">Блог</a></li>
					<li><a href="Калькулятор.html">Калькулятор</a></li>
				</ul>
			</div>

			<div style='float: right;'>
				<ul class="nav navbar-nav">
					<li>
						<a href="#" class='dropdown-toggle' data-toggle='dropdown'>Дамир <b class='caret'></b></a>
						<ul class='dropdown-menu dropdown-menu-right' style="background: black; border-radius: 10px;">
							<li><a href="#"><p style="color: white;">ФАМИИЛИЯ ИМЯ</p></a></li>
							<li class="divider"></li>
							<li><a href="#"><p style="color:white;">ПРОФИЛЬ></p></a></li>
							<li><a href="#"><p style="color:white;">РЕДАКТИРОВАТЬ</p></a></li>
							<li class="divider"></li>
							<li><a href="#"><p style="color:white;">ВЫЙТИ</p></a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div style="background-color: #FFC740; border-radius: 25px; box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.8); height: 350px;">
		<p class="text-center" style="font-size: 50px; color: #A67500;">Заголовок</p>
		<hr width="600px" style="border-color: #A67500; border-width: 7px; border-radius: 3px;">
		<div style="margin: 0px 25px 0px 25px;"><b style="font-size: 27px; color:#A67500;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi iure nemo eius, sed tempore ratione dignissimos debitis cupiditate suscipit asperiores. Eius iusto, ut culpa earum ea. Tempore ab maxime.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos sunt officia possimus dolores maxime optio provident architecto ut, officiis dolor dolorum libero incidunt illum minima voluptas nemo facere fuga accusantium.</b></div>
	</div>

	<div style="background-color: black; height: 350px; border-radius: 25px;margin: 2px;">
		<div class="row">
			<div style="border-radius: 30px; background-color: white; text-align: center; padding: 6px;box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.3);" class="col-md-4">
				<i style="font-size: 100px; color: #82217A;" class="fas fa-broadcast-tower"></i>
				<p style="font-size: 2em; color: #82217A;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos temporibus neque in maxime eum accusantium impedit quam, amet, ad adipisci dolorum repellendus aspernatur ducimus laborum quia. Tempore, quis odit quos!</p>
			</div>
			<div style="border-radius: 30px; background-color: white; text-align: center; padding: 6px;box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.3);" class="col-md-4">
				<i style="font-size: 100px; color: #82217A;" class="fab fa-accessible-icon"></i>
				<p style="font-size: 2em;color: #82217A;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat earum esse officiis, quas voluptatem, veniam. Quo natus dolorum saepe rem placeat iure similique, nostrum, ullam veritatis nemo quas ut nam.qwerty poklala</p>
			</div>
			<div style="border-radius: 30px; background-color: white; text-align: center; padding: 6px;box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.3);" class="col-md-4">
				<i style="font-size: 100px; color: #82217A;" class="fab fa-bitcoin"></i>
				<p style="font-size: 2em; color: #82217A;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias commodi a accusantium ab voluptate hic iusto ipsam sequi suscipit minima, tempore et, laudantium aliquid eius consequuntur debitis. Voluptatum, esse facilis.</p>
			</div>
		</div>

	</div>

	<div>
		<p class="text-center" style="font-size: 50px; color: #A67500;">Заголовок</p>
	</div>


	<div id="carousel" class="carousel slide" data-ride="carousel" style="padding-left: 265px;">
		<!-- Индикаторы -->
		<ol class="carousel-indicators">
			<li data-target="#carousel" data-slide-to="0" class="active"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
			<li data-target="#carousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<img src="https://img-fotki.yandex.ru/get/57985/239440294.2f/0_147e9b_9f633124_XXL.jpg">
			</div>
			<div class="item">
				<img src="https://financialpostcom.files.wordpress.com/2018/02/0216apple.jpg">
			</div>
			<div class="item">
				<img src="https://regnum.ru/uploads/pictures/news/2019/06/13/regnum_picture_1560400987287914_normal.jpg">
			</div>
		</div>
		<!-- Элементы управления -->
		<a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Предыдущий</span>
		</a>
		<a class="right carousel-control" href="#carousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Следующий</span>
		</a>

	</div>

	<div style="margin: 30px; text-align: center;">
		<div class="row">
			<div style="background-color: #DD37B4; margin-left: 70px; width: 600px; height: 600px; padding-top: 100px;  border-radius: 300px; box-shadow: inset 0 0 10px 70px rgba(0,0,0,0.2);" class="col-md-6"><i style="font-size: 400px;" class="fas fa-question-circle"></i></div>
			<div class="col-md-6" style="">
				<p class="text-center" style="font-size: 50px; color: #A67500;">O КОМПАНИИ</p>
				<hr width="250px">
				<P style="font-size: 27px; color: #DD37B4;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi voluptatem quis et minima soluta facilis omnis deserunt. Aspernatur corporis quibusdam sed quas modi necessitatibus, veniam beatae. Nemo totam, possimus facilis!</P>
			</div>
		</div>
	</div>

	<div style="margin-top: 35px;"><p class="text-center" style="font-size: 70px; color: #A67500;">НАШИ ПAРТНЕРЫ:</p>
        <img style="width: 340px; border-radius: 25px; margin: 90px 0px 0px 90px;" src="https://sun9-47.userapi.com/c854328/v854328922/122b54/QnITXn7qjsk.jpg" alt="">
    </div>

	<div style="height: 350px;">
		<div class="col-md-1"></div>
		<div style="text-align: center;" class="col-md-2"><i style="font-size: 200px; color:#67E667;" class="fab fa-hooli"></i></div>
		<div style="text-align: center;" class="col-md-3"><i style="font-size: 200px; color:#67E667;" class="fas fa-toilet-paper"></i></div>
		<div style="text-align: center;" class="col-md-2"><i style="font-size: 200px; color:#67E667;" class="fab fa-pied-piper-hat"></i></div>
		<div style="text-align: center;" class="col-md-3"><i style="font-size: 200px; color:#67E667;" class="fas fa-book-dead"></i></div>
		<div class="col-md-1"></div>
	</div>

	<div><p class="text-center" style="font-size: 50px; color: #A67500;">ОБРАТНАЯ СВЯЗЬ</p></div>

	<div class="container">
		<div class="rows">
			<div class="col-md-5" style="padding: 30px;"><p class="text-center" style="font-size: 27px; color: #DD37B4;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente aut quam eveniet atque ipsum, vero totam porro veniam praesentium! Perferendis, fugiat alias! Ipsum veniam pariatur nisi fugiat, necessitatibus dignissimos, sapiente?</p></div>
			<div class="col-md-7" style="background-color:#DD37B4 ; padding-right: 30px; border-radius: 25px; text-align: center;">
				<p class="text-center" style="font-size: 40px; color: black;">ВАШИ ДАННЫЕ</p>
				<input style="margin-right: 40px; background-color: black; border: 2px solid black;border-radius: 20px; font-size: 30px; margin-bottom: 20px;" type="number" placeholder="Введите возраст"><br><br>
				<input style="background-color: black; border: 2px solid black; border-radius: 10px; font-size: 20px; color: white;" type="button" value="Отправить" ><br><br>
			</div>
		</div >
	</div>

	<div  style="background: #311212;" class="container" id="down">
		<div class='row'>
			<div class="col-lg-4"><p style="color: white; text-align: center;"><p>Контакты: email@ya.ru</p></div>
			<div class="col-lg-4"><p style="color: white; text-align: center;"><p>Сотрудничество: email@ya.ru</p></div>
			<div class="col-lg-4"><p style="color: white; text-align: center;"><p>Адрес: г.Казань</p></div>
		</div>
	</div>

</body>
