<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Блог</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="css/all.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.4.1.js"
	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<style>
		p {
			font-size: 40px;
			text-align: center;
			color: #4A036F;
			font-family: Impact, cursive;
		}
		hr{
			border-color: #4A036F;
			border-width: 7px;
		    border-radius: 3px;
		}
		b{
			font-size: 35px;
			text-align: center;
		}
		.stat {
			background-color:#67E667;
			margin-top: 70px;
			border-radius: 25px;
		}
		.baton {
			background: black;
			border-radius: 20px;
			font-color: white;
			font-size: 40px;
			border: 2px solid black;
			margin: 10px;
		}
	</style>
</head>
<body style="background: black;">



	<nav class="navbar navbar-inverse" style="margin-bottom: 0px; border-radius: 20px">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="index.php"><i class="fas fa-apple-alt" style="font-size: 40px;color: white; margin: 2px;"></i></a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li><a href="Галерея.php">Галерея</a></li>
					<li><a href="#">Товары</a></li>
					<li class='active'><a href="myblog.php">Блог</a></li>
					<li><a href="Калькулятор.php">Калькулятор</a></li>
				</ul>
			</div>

			<div style='float: right;'>
				<ul class="nav navbar-nav">
					<li>
						<a href="#" class='dropdown-toggle' data-toggle='dropdown'>Дамир <b class='caret'></b></a>
						<ul class='dropdown-menu dropdown-menu-right' style="background: black; border-radius: 10px;">
							<li><a href="#"><p style="color: white;">ФАМИИЛИЯ ИМЯ</p></a></li>
							<li class="divider"></li>
							<li><a href="#"><p style="color:white;">ПРОФИЛЬ></p></a></li>
							<li><a href="#"><p style="color:white;">РЕДАКТИРОВАТЬ</p></a></li>
							<li class="divider"></li>
							<li><a href="#"><p style="color:white;">ВЫЙТИ</p></a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>



	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5">
				<img style="width: 340px; border-radius: 25px; margin: 90px 0px 0px 90px;" src="https://sun9-47.userapi.com/c854328/v854328922/122b54/QnITXn7qjsk.jpg" alt="">
			</div>
			<div class="col-md-7" style="background: #A67500; width: 800px; border-radius: 30px; margin: 90px 20px 0px 0px;">
				<p>Я-ДАМИР И ЭТО МОЙ БЛОГ</p>
				<hr width="200px;">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi autem possimus voluptatem aliquid, ducimus laboriosam eaque sint quis aut! Assumenda laboriosam incidunt, ab tempore repudiandae! Ratione corrupti quod, velit. Possimus.</p>
			</div>
		</div>
	</div>

	<div class="container stat">
		<p>Загловок стaтьи</p>
		<br>
		<b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus consectetur laboriosam, cupiditate ab ratione adipisci, nesciunt. Reprehenderit accusantium inventore consequuntur itaque laborum illum aliquam sit vel earum fugiat, ipsam dicta?</b>
		<div style="text-align: right;"><a href="Открыть статью1.html"><input class="baton" type="button" value="Читать"></a></div>
	</div>
	<div class="container stat">
		<p>Загловок стaтьи</p>
		<br>
		<b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus consectetur laboriosam, cupiditate ab ratione adipisci, nesciunt. Reprehenderit accusantium inventore consequuntur itaque laborum illum aliquam sit vel earum fugiat, ipsam dicta?</b>
		<div style="text-align: right;"><a href="Открыть статью2.html"><input class="baton" type="button" value="Читать"></a></div>
	</div>
	<div class="container stat">
		<p>Загловок стaтьи</p>
		<br>
		<b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus consectetur laboriosam, cupiditate ab ratione adipisci, nesciunt. Reprehenderit accusantium inventore consequuntur itaque laborum illum aliquam sit vel earum fugiat, ipsam dicta?</b>
		<div style="text-align: right;"><a href="Открыть статью3.html"><input class="baton" type="button" value="Читать"></a></div>
	</div>

</body>
</html>